html {
    font-size: 15px
}


body {
    background-color: white;
    
}
form {
    text-indent: 50px;
    text-align: center;


}

header {
    display: flex; 
    align-items: center;
    background-color: red;
    margin-bottom: 50px;
}